<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity"
             type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, 
             Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity>
     <containers>
      <container>
        <types>
          <type type="Collection.Statistics.InterfacesLibrary.IStatsExecutor, InterfacesLibrary"
                mapTo="Collection.Statistics.Application.StatsExecutor, Application" />
          
          <type type="Collection.Statistics.InterfacesLibrary.IConsoleOutputService, InterfacesLibrary"
               mapTo="Collection.Statistics.OutputLibrary.ConsoleOutputService, OutputLibrary" />
          
          <type type="Collection.Statistics.InterfacesLibrary.ICollectionExecute, InterfacesLibrary"
                mapTo="Collection.Statistics.Application.CollectionExecute, Application" />
           
          <type name="CollectionListClass" 
                type="Collection.Statistics.InterfacesLibrary.ICollectionBase, InterfacesLibrary"
                mapTo="Collection.Statistics.CollectionTypesLibrary.ListClass, CollectionTypesLibrary" />
          
          <type name="CollectionDictionary" 
               type="Collection.Statistics.InterfacesLibrary.ICollectionBase, InterfacesLibrary"
               mapTo="Collection.Statistics.CollectionTypesLibrary.DictionaryClass, CollectionTypesLibrary" />
         </types>
      </container>
    </containers>
  </unity>
</configuration>